{% load cms_tags staticfiles sekizai_tags menu_tags cache meta page_meta_tags i18n %}{% get_current_language as LANGUAGE_CODE %}{% page_meta request.current_page as meta %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" {% meta_namespaces_gplus %}>
    <head {% meta_namespaces %}>
        <meta charset="utf-8">

        <title>{% block title %}{% page_attribute "page_title" %}{% endblock title %}</title>

        <meta name="viewport" content="width=device-width,initial-scale=1">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

<!--         <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>

        <link rel="shortcut icon" href="{{STATIC_URL}}favicon.ico" />

        <!-- META -->
        {% block meta %}
            {% include "djangocms_page_meta/meta.html" with meta=meta %}
        {% endblock %}
        <!-- ENDMETA -->

        {% include 'partials/google_analytics_site_tag.html' %}

        {% if request.current_page.bundleextension.css1 %}
          <link rel="stylesheet" href="{{ request.current_page.bundleextension.css1.url }}">
        {% endif %}
        {% if request.current_page.bundleextension.css2 %}
          <link rel="stylesheet" href="{{ request.current_page.bundleextension.css2.url }}">
        {% endif %}
        {% if request.current_page.bundleextension.css3 %}
          <link rel="stylesheet" href="{{ request.current_page.bundleextension.css3.url }}">
        {% endif %}


        {% addtoblock "css" %}
        <style>
            html, body {
              margin: 0;
              padding: 0;
            }
            .text-center {
              text-align: center;
            }
            .bold {
              font-weight: 900;
              letter-spacing: 0.8px;
            }
            h2.bold {
              margin-bottom: 28px;
            }
            .light {
              font-weight: 300;
            }
        </style>
        {% endaddtoblock %}

        {% render_block "css" %}

        {% block css %}{% endblock css %}

        {% block extracss %}{% endblock extracss %}

        {% block extrahead %}{% endblock extrahead %}

        {% if request.current_page.bundleextension.css %}{{ request.current_page.bundleextension.css|safe }}{% endif %}

    </head>
    <body class="{% block extra_body_classes %}{% endblock extra_body_classes %}">

        {% cms_toolbar %}

        <!-- CONTENT -->
        {% block content %}
            {% placeholder "content" %}
        {% endblock content %}
        <!-- ENDCONTENT -->

  <script type="text/javascript" src="/jsi18n/"></script>

  <script>
    // https://developer.mozilla.org/en-US/docs/Web/API/CustomEvent/CustomEvent
    (function () {
      if ( typeof window.CustomEvent === "function" ) return false;

      function CustomEvent ( event, params ) {
        params = params || { bubbles: false, cancelable: false, detail: undefined };
        var evt = document.createEvent( 'CustomEvent' );
        evt.initCustomEvent( event, params.bubbles, params.cancelable, params.detail );
        return evt;
        }

      CustomEvent.prototype = window.Event.prototype;

      window.CustomEvent = CustomEvent;
    })();
  </script>


{% addtoblock "js" %}
  <script>
    // https://gist.github.com/pbojinov/5686402
    // jquery.document.ready.js
    (function(){var documentIsReady=false;function documentReadyHandler(fn){if(!documentIsReady){documentIsReady=true;if(document.addEventListener)document.removeEventListener("DOMContentLoaded",function(){documentReadyHandler(fn)},false);else if(document.attachEvent)if(document.readyState=="complete")document.detachEvent("onreadystatechange",function(){documentReadyHandler(fn)});fn()}}function documentReady(fn){if(document.addEventListener){document.addEventListener("DOMContentLoaded",function(){documentReadyHandler(fn)},false);window.addEventListener("load",function(){documentReadyHandler(fn)},false)}else if(document.attachEvent){document.attachEvent("onreadystatechange",function(){documentReadyHandler(fn)});window.attachEvent("onload",function(){documentReadyHandler(fn)});var toplevel=false;try{toplevel=window.frameElement==null}catch(e){}if(document.documentElement.doScroll&&toplevel)doScrollCheck(function(){documentReadyHandler(fn)})}}function doScrollCheck(fn){if(documentIsReady)return;try{document.documentElement.doScroll("left")}catch(error){window.setTimeout(function(){doScrollCheck(fn)},1);return}fn()}window.$DReady={documentReady:documentReady}})();

    $DReady.documentReady(function () {
      {% block jsready %}{% endblock %}
    });
  </script>
{% endaddtoblock %}


<script src="https://maps.googleapis.com/maps/api/js?v={{GOOGLE_MAPS_API_VERSION}}&key={{GOOGLE_API_KEY}}&libraries=places&callback=initGoogleMaps"
        async defer></script>

<script>
function initGoogleMaps() {
  var event = new CustomEvent('googleMapsLoaded', {
    detail: google.maps
  });
  document.dispatchEvent(event);
}
</script>


{% if request.current_page.bundleextension.bundle1 %}
  <script type="text/javascript" src="{{ request.current_page.bundleextension.bundle1.url }}"></script>
{% endif %}
{% if request.current_page.bundleextension.bundle2 %}
  <script type="text/javascript" src="{{ request.current_page.bundleextension.bundle2.url }}"></script>
{% endif %}
{% if request.current_page.bundleextension.bundle3 %}
  <script type="text/javascript" src="{{ request.current_page.bundleextension.bundle3.url }}"></script>
{% endif %}
{% if request.current_page.bundleextension.bundle4 %}
  <script type="text/javascript" src="{{ request.current_page.bundleextension.bundle4.url }}"></script>
{% endif %}
{% if request.current_page.bundleextension.bundle5 %}
  <script type="text/javascript" src="{{ request.current_page.bundleextension.bundle5.url }}"></script>
{% endif %}

{% if request.current_page.bundleextension.js %}{{ request.current_page.bundleextension.js|safe }}{% endif %}

<script>
window.app = window.app || {};
window.app.menuItems = window.app.menuItems || {};

{% show_menu_below_id "first" 0 100 100 100 "jsmenu/jsMenuFirst.html" %}
{% show_menu_below_id "second" 0 100 100 100 "jsmenu/jsMenuSecond.html" %}
</script>

{% block extrajs %}{% endblock extrajs %}

{% render_block "js" %}

{% static_placeholder "extrajs" %}

{% placeholder "extrajs" %}

    </body>
</html>
